*,
*:before,
*:after {
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #00B2FF;
    transition: all 1.0s ease;
}

/* Main page */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 68px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline;
    padding-left: 48px;
    margin-right: 48px;
}

#logo {
    vertical-align: middle;
}

#fullpage {
    z-index: 0;
}

/* Search bar */

.searchBar .search {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    max-width: 100%;
    padding: 0px 20px;
}

.searchTerm:focus {
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.searchTerm:hover {
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.searchBar .searchTerm {
    transition: all .2s ease-in-out;
    font-size: 16px;
    width: 600px;
    height: 25px;
    border: 0px;
    border-right: none;
    padding: 20px;
    border-radius: 20px;
    outline: none;
}

/* Extension to remove text flicker when scaling (transforming text) */
.no-flickr {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

nav {
    position: absolute;
    top: 4%;
    left: 2%;
    transform: translate(-4%, -2%);
    z-index: 1;
}

.nav-bar {
    list-style: none;
}

.nav-bar li {
    display: inline;
    padding-right: 30px;
}

.nav-bar li a {
    transition: .3s;
    text-decoration: none;
    color: white;
}

.logo-nav {
    vertical-align: middle;
    float: left;
    margin-top: -16px;
    margin-right: 8px;
}

.nav-bar li a:hover {
    color: black;
}

.logo-nav:hover {
    cursor: pointer;
    transform: scale(1.5, 1.5);
    transition: all 0.3s ease-in-out 0s;
}

/* About us */

.title-about{
    padding-bottom:40px;
}

#about {
    padding-bottom:20px;
    color: #FFFFFF;
    margin: auto;
    width: 50%;
    padding-top: 340px;
    line-height: 24px;
}

#about h1{
    font-size:48px;
    line-height:48px;
}

@media screen and (max-width: 560px)
{
    #about {
        width:80%;
        padding-top:160px;
    }

    #about h1{
        font-size:28px;
        line-height:0px;
    }
    
    nav {
        top: 4%;
        left: 4%;
        transform: translate(-4%, -4%);
    }
}

/* Second page (wherein the data lies) */

#page2-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

.page2-title{
    text-align:center;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-active{
    background-color:white;
}

@media screen and (max-width: 560pxx)
{
    
}

/* .testdiv {
    height: 300px;
    width: 600px;
    position: absolute;
    top: 60%;
    left: 4%;
    transform: translate(-4%, -60%);
}

.container2 {
    height: 300px;
    width: 500px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.container3 {

    height: 400px;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-90%, -40%);
}

.buttons1 {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-10%, -20%);
} */