{% extends "layout.html" %}
{% block title %}About - Sentoring{% endblock %}

<body>
    {% block content %}
    <nav>
        <ul class="nav-bar">
            <li><a href="/"><svg class="logo-nav" width="48" height="48" viewBox="0 0 96 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M80 80V0L0 80H80Z" fill="black" fill-opacity="0.75" />
                        <path d="M96 94V14L16 94H96Z" fill="#FFD028" fill-opacity="0.75" />
                    </svg></a></li>
        </ul>
    </nav>
    <article id="about">
        <h1 class="title-about">What is Sentoring?</h1>
        <p>Sentoring is a tool that will retrieve and analyze tweets made by users on Twitter based on the
            word(s) given to the query.
            These tweets will then be fed into VADER, a tool for conducting sentimental analysis, recognizing positive,
            negative, and neutral sentiment in this online text data. Sentoring will display the results of the analysis
            through statistical models models and show the sentiment perceived by Twitter users based on tweets
            collected in the past week. <br><br>
            This tool was made by three BSc. students in Information Technology at Aalborg University in 2021.
        </p>
    </article>
    {% endblock %}
</body>