{% extends "layout.html" %}

{% block about %}

    <!-- about us -->
    <div class="about text-center col-md-6">
        <h1>Sentiment Analyzer</h1>
        <p>Sentoring was made by three students from Aalborg University in 2021. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quod earum incidunt velit nostrum fuga sit assumenda necessitatibus excepturi iure modi optio laborum saepe praesentium non enim, fugit similique culpa?
        Placeat voluptas praesentium natus tenetur facere illo accusamus sit debitis at commodi animi, eius maxime ipsum assumenda saepe ipsa nisi doloribus explicabo a ducimus rem sapiente error iusto adipisci. Esse!
        Quisquam, accusantium ipsam. Beatae dignissimos voluptatem neque voluptate minima sed modi deleniti aliquid consectetur soluta quas a eum, ratione asperiores, facere voluptates perspiciatis voluptatum totam veniam repudiandae accusantium eligendi quos!
        Deleniti architecto tenetur delectus eveniet illo amet deserunt dolorum error vel laudantium provident, assumenda corrupti odit autem eaque facilis. Quae voluptatem sunt, dignissimos rerum excepturi veniam rem veritatis iusto quibusdam.
        Recusandae voluptas necessitatibus enim. Saepe dicta fugiat tempore modi, nulla corporis! Autem officia sunt similique dolores, illum iusto veritatis, quae totam sint exercitationem itaque aliquam! Dicta officia magnam beatae nemo?
        </p>
    </div>

{% endblock %}